[submodule "Maniac/vendor/spdlog"]
	path = Maniac/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Maniac/vendor/GLFW"]
	path = Maniac/vendor/GLFW
	url = https://github.com/TheCherno/glfw
