[submodule "Maniac/vendor/spdlog"]
	path = Maniac/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Maniac/vendor/GLFW"]
	path = Maniac/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Maniac/vendor/imgui"]
	path = Maniac/vendor/imgui
	url = https://github.com/ocornut/imgui
[submodule "Maniac/vendor/glm"]
	path = Maniac/vendor/glm
	url = https://github.com/g-truc/glm
